.blogs{
    display: grid;
    grid-template-columns: repeat( auto-fit, minmax(400px, 1fr) );
    grid-row-gap: 20px;
    grid-column-gap: 10px;
}
.blog__img{
    object-fit: cover;
    max-height: 200px;
    width: 100%;
}