.home__cont{
    display: flex;
    justify-content: center;
}
.home{
    padding: 30px 10px;
    width: 1600px;
}
.searchtab{
    margin: 30px auto;
    display: flex;
    justify-content: center;
}
.search__inp{
    width: 300px;
    height: 40px;
    font-size: 1rem;
    padding: 0 6px;
    outline: none;
    font-family: "Inter", sans-serif;
}