.singleblog__cont{
    display: flex;
    justify-content: center;
}
.singleblog{
    width: 1600px;
    padding: 30px 10px;
}
.singleblog__title{
   font-size: 23px;
   margin-bottom: 7px;
}
.singleblog__img{
    object-fit: contain;
    max-width: 730px;
    width: 100%;
}